My resume is also readily available <b>here</b> or you can click the image of it below.
<img class="displayed" src="../../../images/dl.png">
<p>If you like what you say and you want to contact me, please fill out the Contact Information below or just email me, and I will definitely get back to you! Thank you for your time and I hope to work with you!</p>
<p></p>
<form name="htmlform" method="post" action="email_me">
<fieldset>
	<legend>Contact Information</legend>
	<label for="first_name">First Name *</label>
	<input type="text" name="first_name" value="" size="25" maxlength="50" />
	<br />
	<label for="last_name">Last Name *</label>
	<input type="text" name="last_name" value="" size="25" maxlength="50" />
	<br />
	<label for="email">Email Address *</label>
	<input type="text" name="email" value="" size="25" maxlength="80" />
	<br />
	<label for="comments">Comments *</label>
	<textarea type="comments" value= "" maxlength="1000" cols="25" rows="3"></textarea>
	<br />
	<input type="image" src="../../images/dl.png" name="submit">
</fieldset>
</form>