My resume is also readily available <a href="../../../downloads/Jared Hamby's Resume.pdf"><strong>HERE</strong></a> or you can click the image of it below.
<p></p>
<p></p>
<a href="https://github.com/downloads/irjamby/Personal-Website/Jared%20Hamby%27s%20Resume.pdf"><img class="displayed" src="../../../images/resume.png"></a>
<p>If you like what you say and you want to contact me, please fill out the Contact Information below or just email me, and I will definitely get back to you! Thank you for your time and I hope to work with you!</p>
<p></p>
<p></p>
<form name="htmlform" method="post" action="contact">
  <fieldset>
    <legend>Contact Information</legend>
    <center><div class='errors'><%= @error %></div></center>
    <label for="first_name">First Name *</label>
    <input class="text" type="text" name="first_name" value="" size="30" maxlength="50" />
    <br />
    <label for="last_name">Last Name *</label>
    <input class="text" type="text" name="last_name" value="" size="30" maxlength="50" />
    <br />
    <label for="email">Email Address *</label>
    <input class="text" type="text" name="email" value="" size="30" maxlength="80" />
    <br />
    <label for="comments">Comments *</label>
    <textarea class="comments" type="comments" name="comments" value= "" maxlength="1000" cols="28" rows="6"></textarea>
    <br />
    <input class="image" type="image" src="../../images/submit.png" name="submit" />
  </fieldset>
</form>