<% if @action == 'index' %>
  <div class='header' style='background-image: url(../../images/home_header.png);'></div>
<% end %>
<% if @action == 'about' %>
  <div class='header' style='background-image: url(../../images/head_about.png);'></div>
<% end %>
<% if @action == 'projects' || @action == 'peg_game' || @action == 'polarity_shift' || @action == 'the_depths' || @action == '8bitironman' %>
  <div class='header' style='background-image: url(../../images/head_projects.png);'></div>
<% end %>
<% if @action == 'code' %>
  <div class='header' style='background-image: url(../../images/head_code.png);'></div>
<% end %>
<% if @action == 'contact' %>
  <div class='header' style='background-image: url(../../images/head_contact.png);'></div>
<% end %>