<% if @action == 'index' %>
  <div class='header' style='background-image: url(../../images/home_header.png);'></div>
<% end %>
<% if @action == 'projects' %>
  <div class='header' style='background-image: url(../../images/head_work.png);'></div>
<% end %>
