<% if @action == 'index' %>
  <div class='header' style='background-image: url(../../images/home_header.png);'></div>
<% end %>
<% if @action == 'about' %>
  <div class='header' style='background-image: url(../../images/head_about.png);'></div>
<% end %>
<% if ['projects', 'peg_game', 'polarity_shift', 'the_depths', '8bitironman'].include?(@action)%>
  <div class='header' style='background-image: url(../../images/head_projects.png);'></div>
<% end %>
<% if ['code', 'peggame_update', 'polarityshift_animload', 'polarityshift_animupdate', 'depths_importer', 'depths_levelsystemload'].include?(@action) %>
  <div class='header' style='background-image: url(../../images/head_code.png);'></div>
<% end %>
<% if ['contact', 'email_me'].include?(@action) %>
  <div class='header' style='background-image: url(../../images/head_contact.png);'></div>
<% end %>