<% if @action == 'index' %>
  <div class='header' style='background-image: url(../../images/home_header.png);'></div>
<% end %>
<% if @action == 'projects' || @action == 'peg_game' || @action == 'polarity_shift' || @action == 'the_depths' %>
  <div class='header' style='background-image: url(../../images/head_work.png);'></div>
<% end %>
