<div class='content'>
	I am a programmer from Fairfax, VA! My name is Jared Hamby and I'm awesome. Hire me.
</div>

<div class='sidebar'>
	Home<br />
	About Me<br />
	Projects<br />
	Contact<br />
</div>

<div class='footer'>
	Copyright © Jared Hamby 2012
</div>