<!DOCTYPE html>
<html>
  <head>
    <title>Jared Hamby // Game Programmer</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="javascripts/application.js"></script>
    <link href="stylesheets/application.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body>
    <%= erb(:header) %>
    <%= yield %>
  </body>
</html>