.row
  .col-md-4
    .well
      = image_tag('http://placehold.it/300x200/111/696969') 
      / 310 is the correct width of this well!
  .col-md-8
    .jumbotron
      :markdown
        **Name**: Jared Hamby
      :markdown
        **Education**: Full Sail University 2009, Bachelor of Science in Game Development
      :markdown
        **Languages**: Ruby, Ruby on Rails, HTML/HAML, CSS/SCSS/SASS, JavaScipt/jQuery, C/C++, Python
      :markdown
        **Applications**: Git, Terminal, Textmate/Sublime, Pivotal Tracker, SequelPro, Apple Xcode, Microsoft Visual Studio 05/08, Perforce, TestTrack Pro, Alienbrain, Tortoise SVN, Microsoft Office
      :markdown
        **Operating Systems**: Mac OSX, Microsoft XP/Vista/7/8
.page-header
  %h1 A Bit About Me
.jumbotron
  %p Hi! My name is Jared Hamby. I was born and raised in Fairfax, VA.
  :markdown
    I went to Full Sail University for Game Development right after I graduated from high school in 2007. While there, I mostly learned **C++** and **C#** I graduated there in October of 2009 with a Bachelor of Science in Game Development.
  %p After graduation, I attempted to get into the video game industry for over a year. After about a year, I was finally able to get a quality assurance tester position at Bethesda Softworks where I worked for about 2.5 years.
  :markdown
    While at Bethesda, I mainly tested **The Elder Scrolls V: Skyrim** but I was able to test some other games like **Brink**, **Dishonored**, and **Doom 3: BFG Edition**. Though, I only have a credit under **The Elder Scrolls V: Skyrim**.
  :markdown
    Near the end of **Skyrim**, the lead programmer of Bethesda Games Studio allowed me to do some programming in C++ on their new project. I did this while still doing QA, usually for one day a week or the last 2 hours of the day, every day. I taught myself **Python** during this to help with some of my tasks, too!
  %p Sadly, he was unable to get others to allow me to become a junior programmer.
  %br
  %p That was when I decided to learn some web development!
  :markdown
    I took a few months and learn **Ruby**/**Ruby on Rails**, since I already knew **HTML** and **CSS** from when I was younger. It didn't take long since I had a background in Programming. I was making applications pretty quickly.
  :markdown
    Soon after, I received a freelance job working on [**Agile Estimator**](http://www.agile-estimator.com). While working on **Agile Estimator**, I was also contacted by [**Creative Chatter**](http://www.creativechatter.com) to do some freelance work for them. So naturally I accepted and started doing work for both sites.
  :markdown
    However, I needed a full time job, so I was still looking for a web development job to do full time. I would come in contact with [**Greater Washington Publishing**](http://www.gwpi.net), who would then hire me as a **Junior Web Developer**, doing **Ruby** and **Ruby on Rails** for them.
  %p And that's where I am currently! Enjoying it so far! Though I am still doing my own projects because you can't just stop your own projects!
  
  .pull-right
    %h6
      Last updated: 08/27/13