<img class="displayed" src="../../../images/proj_8bitironman.png">
<p></p>
<p>This is a game I was a part of for my Structure of Game Design at Full Sail University. Structure of Game Design lasted one month and the actual time programming the game was probably about three weeks. This was the first game I ever made that involved DirectX.</p>
<p>I had meant to make it into a Mega Man clone, but one month wasn't enough time to make a level editor or the animation for a fully-fledged game. I learned a lot from this game, mainly time management.</p>

<div class="youtube"><iframe width="420" height="315" src="https://www.youtube.com/embed/71yOlTZZT3g?rel=0" frameborder="0" allowfullscreen></iframe></div>
<p></p>
<b>How to install the game:</b>
<ol>
	<li class="install">Click the "Click to Download" button</li>
	<li class="install">Unzip the .zip file into its own folder</li>
	<li class="install">Double click the .exe from the folder</li>
</ol>
<a href="https://github.com/downloads/irjamby/Personal-Website/8Bit%20Iron%20Man.zip"><img class="displayed" src="../../../images/dl.png"></a>