<img class="displayed" src="../../../images/proj_peggame.png">
<p></p>
<p>This is my first iOS game and is currently in development. It was made with the Cocos2D-X engine and since it was my first iOS game, I wanted to make something simple to understand the engine better.</p>
<p>This was done with just myself as the programmer and an artist. Currently what needs to be done is menus and new art. Since this is done in my free time, I'm hoping to get it done soon.</p>
<div class="youtube"><iframe width="420" height="315" src="https://www.youtube.com/embed/hMbDaFTDhw0?rel=0" frameborder="0" allowfullscreen></iframe></div>
<a href="/testdownload"><img class="displayed" src="../../../images/dl.png"></a>