<img class="displayed" src="../../../images/proj_polarityshift.png">
<p></p>
<p>This is a game I was a part of for my Structure of Game Production at Full Sail University. It was the first team project we did which involved four programmers (including myself). The class was a two month class, with 6 weeks for programming the game and the other 2 weeks devoted to making tools before we started development.</p>
<p>We wanted to make a game like the flash Portal game and decided to make it involving gravity. Our art was done by an artist at the school that did art for a lot of the groups during class.</p>

<div class="youtube"><iframe width="420" height="315" src="https://www.youtube.com/embed/OArIrH2W2Bg?rel=0" frameborder="0" allowfullscreen></iframe></div>
<p></p>
<b>How to install the game:</b>
<ol>
	<li class="install">Click the "Click to Download" button</li>
	<li class="install">Double click the .exe file</li>
	<li class="install">Go through the installation steps to install the game</li>
</ol>
<a href="https://github.com/downloads/irjamby/Personal-Website/Polarity%20Shift%20Install.exe"><img class="displayed" src="../../../images/dl.png"></a>