<img class="displayed" src="../../../images/proj_polarityshift.png">
<p></p>
<p>This is a game I was a part of for my Final Project at Full Sail University.</p>

<div class="youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/OArIrH2W2Bg?rel=0" frameborder="0" allowfullscreen></iframe></div>
<a href="/testdownload"><img class="displayed" src="../../../images/dl.png"></a>