<img class="displayed" src="../../../images/proj_depths.png">
<p></p>
<p>This is a game I was a part of for my Game Project at Full Sail University. Game Project lasted for about five months, three of which were devoted to developing the game. The first two months were for pre-production and design purposes. We had about 9 programmers, two artists and an internal producer.</p>
<p>We made the game a rail shooter because we all loved StarFox. It was a game that used an engine created by all of the groups in that class.</p>

<div class="youtube"><iframe width="420" height="315" src="https://www.youtube.com/embed/8cvV-0FPx5s?rel=0" frameborder="0" allowfullscreen></iframe></div>
<p></p>
<b>How to install the game:</b>
<ol>
	<li class="install">Click the "Click to Download" button</li>
	<ol>
		<li class="install-note">This needs the DirectX SDK from August 09, it can be downloaded here: <a href="http://www.microsoft.com/download/en/details.aspx?id=23549"><strong>DXSDK_Aug09.exe</strong></a></li>
	</ol>
	<li class="install">Double click the .msi file</li>
	<li class="install">Go through the installation steps to install the game</li>
	<ol>
		<li class="install-note">This game should be ran in Windows XP to get the emissives like in the video</li>
		<li class="install-note">If this is ran in Windows 7, the emissives will not look correct</li>
	</ol>
</ol>
<a href="/../../../downloads/The Depths (Gold).msi"><img class="displayed" src="../../../images/dl.png"></a>