/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.navbar {
	height: 100px !important;
	position: relative;
}

.navbar-brand {
	position: absolute;
	top: 20px;
	left: 430px;
	font-size: 34px !important;
}

.navbar-nav {
	position: absolute;
	left: auto;
	right: 430px;
	bottom: 0;
}

.jumbotron h1 {
	color: #CD661D !important;
}

.dropdown .dropdown-menu .nav-header {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
		-webkit-border-top-left-radius: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-topleft: 10px;
		-moz-border-radius-topright: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
}

/* Dropdown on HOVER */
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

.dropdown-menu {
	border: 1px solid #000000 !important;
	color: #c6c6c6 !important;
	background-color: #333333 !important;
}

.dropdown-menu .divider {
	background-color: #000000 !important;
}

.dropdown-menu > li > a {
	color: #c6c6c6 !important;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	color: #ffffff !important;
	background-color: #CD661D !important;
}

/*
 SOCIAL FOOTER LINKS
*/

.link-icon {
	color: #c6c6c6;
	width: 30px !important;
	height: 30px !important;
	display: inline-block !important;
	text-align: center !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
}

#github {
	transition: all 200ms ease-out 0s;
}

#github:hover {
	background-color: #000;
	color: #fff;
	text-decoration: none;
}

section.social > .link-icon:focus {
	color: #c6c6c6;
	text-decoration: none;
}

#facebook {
	transition: all 200ms ease-out 0s;
}

#facebook:hover{
	background-color: #3b5998;
	color: #fff;
	text-decoration: none;
}

#twitter {
	transition: all 200ms ease-out 0s;
}

#twitter:hover{
	background-color: #33ccff;
	color: #fff;
	text-decoration: none;
}

#google-plus {
	transition: all 200ms ease-out 0s;
}

#google-plus:hover{
	background-color: #c63d2d;
	color: #fff;
	text-decoration: none;
}

#linkedin {
	transition: all 200ms ease-out 0s;
}

#linkedin:hover{
	background-color: #4875b4;
	color: #fff;
	text-decoration: none;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
	margin-top: 120px;
}