%hr
%center{style: "padding-bottom: 20px;"}
  %section.social
    %a#github.link-icon{href: "https://github.com/irjamby", target: "_blank"}
      %i.icon-github.icon-2x
    %a#twitter.link-icon{href: "https://twitter.com/irjamby", target: "_blank"}
      %i.icon-twitter.icon-2x
    %a#facebook.link-icon{href: "https://www.facebook.com/jamby", target: "_blank"}
      %i.icon-facebook.icon-2x
    %a#google-plus.link-icon{href: "https://plus.google.com/114234571561072558030", target: "_blank"}
      %i.icon-google-plus.icon-2x
    %a#linkedin.link-icon{href: "https://www.linkedin.com/in/jamby", target: "_blank"}
      %i.icon-linkedin.icon-2x
  %p
  Copyright &copy 2013 Jared Hamby // 
  %a{href: "mailto:irjamby@gmail.com"}irjamby@gmail.com